.light-heading {
  font-size: 22px;
  font-weight: 500;
  margin: 6px 0px;
  font-weight: 600;
}

.gray-color {
  color: gray;
}

.sponsorCard {
  transition: all 0.5s ease;
}

.sponsorCard:hover {
  transform: scale(1.1);
}

.sponsorcardleft {
  width: 20%;
  min-width: 250px;
}

.sponsorCardImage{
  width: 100%;
}


.sponsorcard-right{
  width: 80%;
  align-self: self-start;
  box-sizing: border-box;
  margin: 0px 22px;
}

@media screen and (max-width: 1000px) {
  .sponsorCard {
    flex-direction: column;
  }
  .sponsorCardImage {
    margin: auto !important;
  }
}
