.sub-heading {
  line-height: 44px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.view-all-btn {
  border-radius: 12px;
  font-size: 18px;
  padding: 15px 28px;
  border: none;
  margin: 8px;
  background-color: #1e73be;
  color: white;
}
.swiper-slide {
  display: flex;
  justify-content: center !important;
}
.event-no-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3.5rem;
  width: 100%;
  max-width: 200px;
  /* font-weight: 500; */
}

.event-no-div span:nth-child(2) {
  font-size: 1.2rem;
}

.no-parent {
  background-color: black;
  color: white;
  /* height: 200px; */
  padding: 62px 40px !important;
}
.home_section_four {
  background-image: url(../../assets/sec4.webp);
  height: auto;
  min-height: 500px;
  width: 100%;
  background-attachment: fixed;
  padding: 30px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-4-heading {
  font-size: 36px;
  font-weight: bold;
}

.section-4-text {
  font-size: 18px;
}

.home_sec4_text_div {
  color: white;
}

.section-6-div {
  border: 1px solid #ebebeb;
}

.custom_particles {
  height: 5px;
  width: 5px;
  border-radius: 4rem;
  display: block;
  position: absolute;
  background: linear-gradient(#e66465, #9198e5);
  transition: all 1s;
  animation: particles 10s ease-in-out 0s infinite reverse;
  top: 100px;
  z-index: 100;
  right: 150px;
  margin: 8px;
  opacity: 40%;
  display: none;
}

.custom_particles-1 {
  margin: 35px;
  right: 160px;
}

.custom_particles-2 {
  margin: 45px;
  right: 200px;
}

.custom_particles-3 {
  margin: 35px;
  right: 240px;
}

.custom_particles-4 {
  margin: 45px;
  right: 270px;
}

.custom_particles-5 {
  margin: 35px;
  right: 300px;
}


@keyframes particles {
  0% {
    top: 100px;
    /* left: 250px; */
  }
  25% {
    top: 125px;
    /* left: 200px; */
  }
  50% {
    top: 150px;
    /* left: 200px; */
  }
  75% {
    top: 100px;
    /* left: 200px; */
  }
  100% {
    top: 100px;
    /* left: 200px; */
  }
}


.particles {
  position: relative;
  background-color: black;
}

#blob {
  /* z-index: -2; */
  height: 200px;
  width: 200px;
  background: rgb(36, 0, 21);
  background: linear-gradient(
    90deg,
    rgba(36, 0, 21, 1) 0%,
    rgba(121, 9, 115, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 55% 22% 51% 15% / 43% 18% 60% 19%;

  position: relative;
  top: -155px;
  left: 150px;
  transition: all 2s;
  opacity: 60%;
}

@media screen and (max-width: 992px) {
  .img-div {
    height: auto;
  }

  .section-no-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-image {
    width: 100%;
  }

  .section-image-slast {
    display: none;
  }

  .section-image-last {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .sub-heading {
    font-size: 22px;
  }
  .no-parent-2 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media screen and (max-width: 630px) {
  .section-no-5 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section-image {
    width: 100%;
  }

  .section-image {
    display: none;
  }

  .section-image:nth-child(1),
  .section-image:nth-child(2) {
    display: block;
  }

  .home_section_four div {
    flex-direction: column;
  }

  .home_section_four div div {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media screen and (max-width: 800px) {
  .home_sec4_text_div {
    min-width: 250px;
  }
}

@media screen and (max-width: 992px) {
  #blob {
    top: -9px;
    left: 30px;
  }
}

@media screen and (max-width: 455px) {
  #blob {
    top: -9px;
    left: 30px;
  }
}

@media screen and (max-width: 320px) {
  .sub-heading {
    font-size: 18px;
  }
}
