.nav-link-custom {
  font-size: 20px;
  color: white !important;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: white !important;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}

.text-heading {
  font-size: 3.2rem;
  font-weight: bold;
}

.img-div {
  content: "";
  /* background: #000000; */
  background-image: url(../../assets/sec4.webp);
  background-repeat: no-repeat;
  /* position: absolute;
  top: 0px;
  left: 0px; */
  height: 652px;
  /* width: 100%; */
  /* z-index: -1;
  opacity: 0.2; */
}

.nav-btn {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 8rem;
  padding: 8px 4rem;
  font-size: 24px;
  transition: 0.6s all ease;
}

.nav-btn:hover {
  border-radius: 12px !important;
}

.clr-white {
  color: white;
}

.home-top-text-container {
  height: 80%;
  justify-content: space-evenly;
}

.text-paragraph {
  width: 84%;
}

#logo {
  width: 120px;
}

.home-nav {
  background: none;
  color: white;
}

.nav {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 2px 8px 2px;
  padding: 22px 36px;
  color: black !important;
}

.nav-link {
  color: black !important;
  font-size: 18px;
}

.home-nav-link {
  color: white !important;
  border-bottom: 2px solid transparent !important;
}

.nav-link-custom:hover {
  /* border-bottom: 2px solid; */
  border-image: linear-gradient(45deg, purple, orange) 1;
}

.nav-link-custom:after {
  transition: all ease-in-out 0.2s;
  /* background: none repeat scroll 0 0 #ffffff; */
  background: linear-gradient(45deg, purple, orange);
  content: "";
  display: block;
  height: 2px;
  width: 0px;
}

.nav-link-custom:hover:after {
  width: 100%;
}

.home-nav-link:hover {
  /* border-bottom: 2px solid white !important; */
  /* border-bottom: 2px solid white !important; */
  /* border-image: linear-gradient(45deg, purple, orange) 1; */
}

.home-nav-link:after {
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #ffffff;
  content: "";
  display: block;
  height: 2px;
  width: 0px;
}

.home-nav-link:hover:after {
  width: 100%;
}

#tsparticles,
.tsp2 {
  position: absolute;
  height: 385px;
  width: 93%;
  background: none !important;
}

@media screen and (max-width: 1000px) {
  #tsparticles,
  .tsp2 {
    width: 85%;
    height: 300px;
  }

  .tsp2 {
    position: fixed !important;
    top: 50px;
  }

  .img-div {
    min-height: 400px !important;
  }
}

@media screen and (max-width: 730px) {
  .text-heading {
    font-size: 28px;
  }

  .text-paragraph {
    font-size: 14px !important;
  }

  .nav-btn {
    font-size: 16px;
    padding: 4px 18px;
  }
}

@media screen and (max-width: 380px) {
  .text-heading {
    font-size: 22px;
  }

  .nav-btn {
    font-size: 12px;
  }

  .img-div {
    padding: 18px 10px !important;
  }
}
