.footer-sec {
  background-color: #1a1c20;
  color: white;
}

.footerColor {
  color: #8b8d94;
  font-size: 13px;
}

.link {
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.link:hover {
  text-decoration: underline;
  color: white;
}

.normal-text {
  font-size: 15px;
}

.icons {
  font-size: 34px;
  color: gray;
  /* margin: 2px; */
}

@media screen and (max-width: 600px) {
  .para-about {
    width: 100% !important;
  }

  .footer-top {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  .footer-top div:last-child {
    align-self: self-start;
  }
}

@media screen and (max-width: 385px) {
  .footer-bootom {
    justify-content: center !important;
  }
}
